* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    border: solid 2px black;
}

table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

table tbody tr:nth-child(even):hover {
    background-color: #dce5f1;
}

table tbody tr:nth-child(odd) {
    background-color: #e2e2e2;
}

table tbody tr:nth-child(odd):hover {
    background-color: #dce5f1;
}

table th {
    background-color: #4c8bf5;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
}

/*  Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4c8bf5;
    padding: 10px 20px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: inherit; 
}

nav h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 2px;
}

nav li {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    max-width: 70px;
    min-width: 70px;
    text-align: center;
    border: #3a6fd8 solid 1px;
    background-color: #f1f6ff;
    transition: background-color 0.3s;
}

nav li:hover {
    background-color: #3a6fd8;
    color: #f1f6ff;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*  Posts */

section {
    justify-items: center;
    margin-top: 20px;
}

section h1 {
    font-size: 20px;
}

.post {
    background-color: #f9f9f9;
    border: 1px solid #4c8bf5;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post:hover {
    background-color: #dce5f1;
}


.post label {
    font-size: 10px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    background-color: #4c8bf5;
    color: white;
    padding: 5px;
    border-radius: 10px;
    max-width: 60px;
    text-align: center;
}

section p {
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section span {
    background-color: #f18730;
    font-size: 14px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    max-width: 60px;
    text-align: center;
}

section h2 {
    margin-top: 0;
    color: #333;
}